body{
    text-align: center;
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
    color: rgb(150, 226, 188);
=======
    background-color: beige;
}

h1{
    color: #333;
}

.cabecera{
    border: 1px solid #333;
    background-color: rgb(235, 238, 75);
>>>>>>> cabecera
}

div{
    padding: 30px;
    margin: 50px;
}