body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.header{
    margin: 100px auto;
    border: 1px solid #c3c3c3;
    width: 80%;
    background-color: aliceblue;
}